{% extends 'templates/archi_base.html' %}

{% block content %}
<!-- subheader -->
<section id="subheader" data-speed="8" data-type="background">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Appointment Booking Received</h1>
				<ul class="crumb">
					<li><a href="/">Home</a></li>
					<li class="sep">/</li>
					<li>Appointment Booking</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- subheader close -->

<div class="container" style="padding-top: 50px !important;" >
	<div class="row">
		<div class="col-md-12">
			<br/><br/><br/>
			<h2>Thank You !!</h2>
			<h3>
				Your Meeting Request Is Created.We Will Confirm The Same In Next 24 Business Working Hours. You Will Be Notified By SMS & Email (if Provided) upon Appointment Confirmation.
			</h3>
			<br/><br/><br/>
		</div>
	</div>
</div>


{% endblock %}
