<p>{{_("Dear")}} {{ full_name }}{% if last_name %} {{ last_name}}{% endif %},</p>
<p>We are delighted to confirm your upcoming appointment with us. We appreciate your trust in our services, and we are looking forward to assisting you.</p>
<p><b>Appointment Details</b></p>
<p>Date : {{ scheduled_date }}</p>
<p>Time : {{ scheduled_time }}</p>
<p>To ensure a smooth and efficient process, please remember to bring any necessary documents or information related to your appointment.</p>
<p>We value your time, and our team is committed to providing you with excellent service. If, for any reason, you are unable to attend the appointment, kindly notify us as soon as possible.</p>
<p>Thank you for choosing us. We appreciate the opportunity to serve you, and we look forward to meeting with you soon.</p>