{% extends 'templates/archi_base.html' %}

{% block content %}

<!-- subheader -->
<section id="subheader" data-speed="8" data-type="background">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>About Us</h1>
				<ul class="crumb">
					<li><a href="/">Home</a></li>
					<li class="sep">/</li>
					<li>About Us</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- subheader close -->

<!-- content begin -->
<div id="content" class="no-top no-bottom">
	<section id="section-about-us-2" class="side-bg no-padding">
		<div class="image-container col-md-5 pull-left" data-delay="0"></div>

		<div class="container">
			<div class="row">
				   <div class="col-md-6 offset-md-6 " data-animation="fadeInRight" data-delay="200">
					<div class="inner-padding">
						<h2>Life2Home - Your Trusted Turnkey Interior Solutions Partner</h2>
						<p class="intro">Life2Home is a pioneering venture in the interiors sector founded by Kamal Joshi and Meenakshi Joshi. With a cumulative experience of 17 years in the industry, they are committed to revolutionizing interior design and execution, offering innovative solutions to their clients.						</p>
						With an impeccable track record of successfully completing over 5000 projects across India and currently managing more than 200 ongoing projects, KAMS DESIGNER ZONE is not just a name; it's a trailblazer that redefines the boundaries of creativity and innovation. And now, it proudly unveils its latest triumph - LIFE2HOME Interior Products Private Limited, your ultimate turnkey interior solutions partner.	
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</section>

	<section id="section-text" style="background-size: cover;background-color: #f5f5f5;">
		<div class="container" style="background-size: cover;">
			<div class="row align-items-center" style="background-size: cover; ">
				<div class="col-lg-4 col-md-12 wow fadeInRight animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight; background-size: cover;">
					<div class="de_count ultra-big s2 text-center" style="background-size: cover;">
						<h3 class="timer" data-to="17" data-speed="1000">17</h3>
						<span class="text-dark text-uppercase">Years of Experience</span>
					</div>
				</div>
				<div class="col-lg-4 p-lg-5  mb-sm-30 wow fadeInRight animated" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight; background-size: cover;">
					<h2>Crafting Timeless Designs to Inspire and Enrich Your Life</h2>
				</div>

				<div class="col-lg-4 wow fadeInRight animated" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInRight; background-size: cover;">
					<p>
						At Life2Home, we understand that your home is a reflection of your personality, and our expert team of designers is dedicated to helping you express yourself through your living spaces. Whether you crave the sleek lines of contemporary design or the warmth of classic aesthetics, our vast range of furnishings, decor, and accessories cater to every taste and preference.

					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="section-about" style="background-size: cover;padding-top: 20px;padding-bottom: 20px;">
		<div class="container" style="background-size: cover;">
			<div class="row" style="background-size: cover;">
				<div class="col-md-6 offset-md-3 text-center wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp; background-size: cover;text-align: center!important;">
					<h1 style="text-align: center;">Meet Founders</h1>
					<div class="separator" style="background-size: cover;"><span><i class="fa fa-circle"></i></span></div>
					<div class="spacer-single" style="background-size: cover;"></div>
				</div>
		</div>
	</section>

	<!-- section service begin -->
	<section id="section-service-1" class="side-bg no-padding" style="background-size: cover;">
		<div class="image-container col-lg-5 pull-left" data-delay="0" style="background-size: cover; height: 444px;">
			<div class="background-image" style="background-size: cover; background-position: 0% 0%!important;; background-image: url('/assets/life2homewebsitever2/images/archi/ar_kamal_joshi.jpeg');"></div>
		</div>

		<div class="container" style="background-size: cover;">
			<div class="row" style="background-size: cover;">
				<div class="inner-padding" style="background-size: cover;">
					<div class="col-lg-6 offset-lg-6 col-md-12 wow fadeInRight animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight; background-size: cover; opacity: 0;">
						<h3 class="id-color">Ar. Kamal Joshi</h3>
						I, Kamal Joshi, hail from a middle-class family in Pune, Maharashtra, with roots in Uttarakhand. Despite initial resistance from my father, I followed my passion for architecture and graduated from MarathwadaMitra Mandal College of Architecture in 2004. This journey led me to become a registered Architect and ultimately, one half of KAMS DESIGNER ZONE.
						<div class="spacer-single" style="background-size: cover;"></div>
						<a href="/life2home_ar_kamaljoshi" class="btn-line">More About Ar. Kamal Joshi</a>
					</div>
					<div class="clearfix" style="background-size: cover;"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- section service close -->

	<!-- section service begin -->
	<section id="section-service-2" class="side-bg no-padding" style="background-size: cover">
		<div class="image-container col-lg-5 offset-lg-7 col-md-12 pull-right" data-delay="0" style="background-size: cover; height: 444px;">
			<div class="background-image" style="background-size: cover; background-position: 0% 0%!important;; background-image: url('/assets/life2homewebsitever2/images/archi/m_joshi.jpeg');"></div>
		</div>

		<div class="container" style="background-size: cover">
			<div class="row" style="background-size: cover;">
				<div class="inner-padding" style="background-size: cover;">
					<div class="col-lg-6 col-md-12 wow fadeInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft; background-size: cover;">
						<h3 class="id-color">Ar. Minakshi Joshi</h3>
						I am Meenakshi Joshi, a graduate in Arts with a Master's degree from Bareilly University. After my marriage to Kamal Joshi, I decided to explore interior designing to support him. My journey from being an Arts graduate to becoming the Design Director of KAMS DESIGNER ZONE has been truly inspiring, driven by my love for colors and intricate designs.
						<div class="spacer-single" style="background-size: cover;"></div>
						<a href="/life2home_ar_minakshijoshi" class="btn-line">More About Ar. Minakshi Joshi</a>
					</div>
					<div class="clearfix" style="background-size: cover;"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- section service close -->

	<!-- section begin -->
	<section id="view-all-projects" class="call-to-action bg-color dark text-center" data-speed="5" data-type="background" aria-label="view-all-projects" style="background-color: #fff !important;">
		<a href="/https://api.whatsapp.com/send?phone=7720075070&text=Hi Life2Home Team" class="btn btn-line black btn-big">Talk With Us</a>
	</section>
	<!-- logo carousel section close -->



</div>

{% endblock %}