
{% extends 'templates/archi_base.html' %}

{% block content %}

        <!-- subheader -->
        <section id="subheader" data-speed="8" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Contemporary Eclectic</h1>
                        <ul class="crumb">
                            <li><a href="/">Home</a></li>
                            <li class="sep">/</li>
                            <li><a href="/life2home_allprojectthemes">All Project Themes</a></li>
                            <li class="sep">/</li>
                            <li>Contemporary Eclectic</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <!-- content begin -->
        <div id="content" style="padding-top: 0px !important;">
            <div class="container">
                <div class="spacer-single"></div>
                <!-- portfolio filter close -->
                <div id="gallery" class="row gallery full-gallery de-gallery pf_4_cols hover-1 wow fadeInUp" data-wow-delay=".3s">

                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00001.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00001.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00002.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00002.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00003.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00003.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00004.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00004.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00005.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00005.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00006.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00006.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00007.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00007.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00008.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00008.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00009.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00009.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00010.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00010.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00011.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00011.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00012.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00012.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <!-- <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00013.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_000013.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div> -->
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00014.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00014.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00015.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00015.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00016.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00016.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00017.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00017.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00018.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00018.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00019.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00019.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00020.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00020.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00021.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00021.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00022.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00022.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00023.jpg">
                                <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/contemporaryeclectic/con_eclec_op1_00023.jpg" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->

                </div>
            </div>
        </div>

{% endblock %}