{% extends 'templates/archi_base.html' %}

{% block content %}

<div id="content" class="no-bottom no-top" style="background-size: cover;">
			
	<section id="section-hero" class="jarallax text-light" aria-label="section" style="background-size: cover; position: relative; z-index: 0;" data-jarallax-original-styles="background-size: cover;">
		
		<div class="container" style="background-size: cover;">
				<div class="row" style="background-size: cover;">
					<div class="spacer-double" style="background-size: cover;"></div>
					<div class="col-lg-8 mb-sm-30" style="background-size: cover;">
						<!-- <h3>Life2Home</h3> -->
						<h1 class="ultra-big">Your Trusted Turnkey Interior Solutions Partner</h1>
					</div>
					<div class="col-lg-6 offset-lg-6 mb-sm-30" style="background-size: cover;background-color: black;padding: 20px;">
						<p class="lead big">Built upon the rock-solid
							reputation of <b>KAMS DESIGNER ZONE</b>—a market leader
							with over 5000 successfully completed projects and more than 200 ongoing
							assignments across India—LIFE2HOME aspires to redefine what it means to bring an
							interior design concept to life.</p>
					</div>
				</div>
			</div>
	<div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);"><img src="/assets/life2homewebsitever2/images/archi/1.jpg" class="jarallax-img" alt="" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: absolute; top: 0px; left: 0px; width: 1680px; height: 864.094px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: -20.0469px; transform: translate3d(0px, 228.547px, 0px);"></div></section>
	<!-- section close -->

<section id="section-text" style="background-size: cover;">
		<div class="container" style="background-size: cover;">
			<div class="row align-items-center" style="background-size: cover; ">
				<div class="col-lg-4 col-md-12 wow fadeInRight animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight; background-size: cover;">
					<div class="de_count ultra-big s2 text-center" style="background-size: cover;">
						<h3 class="timer" data-to="17" data-speed="1000">17</h3>
						<span class="text-dark text-uppercase">Years of Experience</span>
					</div>
				</div>
				<div class="col-lg-4 p-lg-5  mb-sm-30 wow fadeInRight animated" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInRight; background-size: cover;">
					<h2>Crafting Timeless Designs to Inspire and Enrich Your Life</h2>
				</div>

				<div class="col-lg-4 wow fadeInRight animated" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInRight; background-size: cover;">
					<p>
						At Life2Home, we understand that your home is a reflection of your personality, and our expert team of designers is dedicated to helping you express yourself through your living spaces. Whether you crave the sleek lines of contemporary design or the warmth of classic aesthetics, our vast range of furnishings, decor, and accessories cater to every taste and preference.

					</p>
				</div>
			</div>
		</div>
	</section>

	<section id="section-about" style="background-size: cover;">
		<div class="container" style="background-size: cover;">
			<div class="row" style="background-size: cover;">
				<div class="col-md-6 offset-md-3 text-center wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp; background-size: cover;text-align: center!important;">
					<h1 style="text-align: center;">What We Do</h1>
					<div class="separator" style="background-size: cover;"><span><i class="fa fa-circle"></i></span></div>
					<div class="spacer-single" style="background-size: cover;"></div>
				</div>


				<div class="col-md-4 wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft; background-size: cover;">
					<h3><span class="id-color">Standard </span>Home Design Services</h3>
					Our standardized design modules feature sleek lines and contemporary aesthetics. You have the freedom to calculate your design
					charges and register with ease.Indulge in the luxury of choice as you explore our latest trends and timeless classics.					<div class="spacer-single" style="background-size: cover;"></div>
					<a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/archi/se_3.jpg">
						<img src="/assets/life2homewebsitever2/images/archi/se_3.jpg" class="img-responsive" alt="">
					</a>
				</div>

				<!-- <div class="col-md-4 wow fadeInUp animated" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp; background-size: cover;">
					<h3><span class="id-color">Bespoke</span> Designs By Life2Home</h3>
					For those seeking uniqueness and personalization, our bespoke services curated by LIFE2HOME are at your disposal. With us, you'll not only receive assistance during execution but also enjoy after-service support for a remarkable 2 years from the project's completion.
					<div class="spacer-single" style="background-size: cover"></div>
					<a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/archi/se_4.jpg">
						<img src="/assets/life2homewebsitever2/images/archi/se_4.jpg" class="img-responsive" alt="">
					</a>
				</div> -->

				<div class="col-md-4 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight; background-size: cover;">
					<h3><span class="id-color">Project Management</span> Services</h3>
					Unlock a hassle-free approach to project management with LIFE2HOME's streamlined service. With a straightforward fixed service charge, you gain the flexibility to choose between your preferred vendors or opt for trusted, our registered vendors.
					<div class="spacer-single" style="background-size: cover;"></div>
					<a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/archi/se_5.jpg">
						<img src="/assets/life2homewebsitever2/images/archi/se_5.jpg" class="img-responsive" alt="">
					</a>
				</div>

				<div class="col-md-4 wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight; background-size: cover;">
					<h3><span class="id-color">Turnkey</span> Interior Design Solutions</h3>
					Have your designs ready but worried about finding a trustworthy partner for execution? Your search ends here. Architect Kamal Joshi and Interior Designer Meenakshi Joshi, the visionaries behind this endeavour, believe in the pillars of trust, honesty, and transparency.
					<div class="spacer-single" style="background-size: cover;"></div>
					<a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/archi/se_6.jpg">
						<img src="/assets/life2homewebsitever2/images/archi/se_6.jpg" class="img-responsive" alt="">
					</a>
				</div>

			</div>
		</div>
	</section>

	<!-- <section id="section-services" class="no-top no-bottom" style="background-size: cover;">
		<div class="container-fluid" style="background-size: cover;">
			<div class="row" style="background-size: cover;">
				<div class="col-md-12 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp; background-size: cover;">
					<div class="carousel-4-center-dots owl-carousel owl-theme owl-loaded owl-drag" style="background-size: cover;">

						
						
					<div class="owl-stage-outer" style="background-size: cover;"><div class="owl-stage" style="transition: all 0s ease 0s; width: 5985px; transform: translate3d(-1068px, 0px, 0px); background-size: cover;"><div class="owl-item cloned" style="width: 397.5px; margin-right: 30px; background-size: cover;"><div class="d_custom-box jarallax item text-middle text-light" style="background-size: cover; position: relative; z-index: 0;" data-jarallax-original-styles="background-size: cover;">
							
								<div class="padding40 overlay60" style="background-size: cover;">
									<h3>Standard Home Design Services</h3>
									<p>Our standardized design modules feature sleek lines and
										contemporary aesthetics. You have the freedom to calculate your design
										charges and register with ease.Indulge in the luxury of choice as you explore our offerings filled with the latest trends and timeless classics.</p>
									<a href="/life2home-services" class="btn-line btn-fullwidth">Read More</a>
								</div>
							<div id="jarallax-container-1" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);"><img class="jarallax-img" src="/assets/life2homewebsitever2/images/archi/se_3.jpg" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: absolute; top: 0px; left: 0px; width: 397.5px; height: 565.883px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 129.059px;"></div></div></div><div class="owl-item cloned" style="width: 397.5px; margin-right: 30px; background-size: cover;"><div class="d_custom-box jarallax item text-middle text-light" style="background-size: cover; position: relative; z-index: 0;" data-jarallax-original-styles="background-size: cover;">
							
								<div class="padding40 overlay60" style="background-size: cover;">
									<h3>Bespoke Designs By Life2Home</h3>
									<p>For those seeking uniqueness and personalization, our bespoke services curated by LIFE2HOME are at your disposal.</p><p> With us, not only during execution but also enjoy after-service support for 2 years after completion.										.</p>
									<a href="/life2home-services" class="btn-line btn-fullwidth">Read More</a>
								</div>
							<div id="jarallax-container-2" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);"><img class="jarallax-img" src="/assets/life2homewebsitever2/images/archi/se_4.jpg" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: absolute; top: 0px; left: 0px; width: 397.5px; height: 565.883px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 129.059px;"></div></div></div><div class="owl-item cloned" style="width: 397.5px; margin-right: 30px; background-size: cover;"><div class="d_custom-box jarallax item text-middle text-light" style="background-size: cover; position: relative; z-index: 0;" data-jarallax-original-styles="background-size: cover;">
							
								<div class="padding40 overlay60" style="background-size: cover;">
									<h3>Project Management Services</h3>
									<p>Unlock a hassle-free approach to project management with
										LIFE2HOME's streamlined service. </p><p>With a straightforward fixed service
										charge, you gain the flexibility to choose between your preferred
										vendors or opt from trusted, registered vendors.</p>
									<a href="/life2home-services" class="btn-line btn-fullwidth">Read More</a>
								</div>
							<div id="jarallax-container-3" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);"><img class="jarallax-img" src="/assets/life2homewebsitever2/images/archi/se_5.jpg" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: absolute; top: 0px; left: 0px; width: 397.5px; height: 565.883px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 129.059px; transform: translate3d(0px, -538px, 0px);"></div></div></div><div class="owl-item cloned active" style="width: 397.5px; margin-right: 30px; background-size: cover;"><div class="d_custom-box jarallax item text-middle text-light" style="background-size: cover; position: relative; z-index: 0;" data-jarallax-original-styles="background-size: cover;">
							
								<div class="padding40 overlay60" style="background-size: cover;">
									<h3>Turnkey Interior Solutions</h3>
									<p>Have your designs ready but worried about finding a trustworthy partner for execution? Your search ends here.</p> <p>Architect Kamal Joshi and Interior Designer Meenakshi Joshi, the visionaries behind this endeavour, believe in the pillars of trust, honesty, and transparency.									</p>
									<a href="/life2home-services" class="btn-line btn-fullwidth">Read More</a>
								</div>
							<div id="jarallax-container-4" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);"><img class="jarallax-img" src="/assets/life2homewebsitever2/images/archi/se_4.jpg" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: absolute; top: 0px; left: 0px; width: 397.5px; height: 565.883px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 129.059px;"></div></div></div></div></div>
							
							<div class="owl-nav disabled" style="background-size: cover;">
								<button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button>
								<button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
							</div>
						</div>
				</div>
					

			</div>
		</div>
	</section> -->

	<section id="section-no-bg" style="background-size: cover;">
		<div class="container" style="background-size: cover;">
		<div class="row align-items-center" style="background-size: cover;">
				<div class="col-md-5 wow fadeInRight" data-wow-delay=".2s" style="visibility: hidden; animation-delay: 0.2s; animation-name: none; background-size: cover;">
					<h2>Where Dreams Meet Design</h2>
					<p class="lead">
						Indulge in the luxury of choice as you explore our offerings filled with the latest trends and timeless classics. From statement furniture to intricate details, Life2Home transforms the ordinary into the extraordinary. Immerse yourself in a world where quality craftsmanship meets cutting-edge design, ensuring that each piece not only looks stunning but stands the test of time.

					</p>
					<div class="spacer-half" style="background-size: cover;"></div>
					<a href="/life2home-services" class="btn-line-white">Contact Us Now</a>
				</div>
				<div class="col-md-6 offset-md-1 wow fadeInLeft" data-wow-delay=".4s" style="visibility: hidden; animation-delay: 0.4s; animation-name: none; background-size: cover;">
					<figure class="picframe invert transparent rounded">
							<span class="v-center">
								<span>
									<a id="play-video" class="video-play-button popup-youtube" href="https://www.youtube.com/watch?v=xiH3mJeHG1I">
										<span></span>
									</a>
								</span>
							</span>
					<img src="/assets/life2homewebsitever2/images/archi/Life2Home_Intro_Video_3.jpeg" class="img-fullwidth" alt="">
				</figure>
				</div>
			</div>
		</div>
	</section>            

	<!-- <section id="section-testimonial" class="jarallax" data-bgimage="url(/assets/life2homewebsitever2/images/archi/2.jpg) fixed" aria-label="section" style="background: none 0% 0% / cover fixed; position: relative; z-index: 0;" data-jarallax-original-styles="background: url(&quot;/assets/life2homewebsitever2/images/2.jpg&quot;) 0% 0% / cover fixed;">
		<div class="container" style="background-size: cover;">
			<div class="row" style="background-size: cover;">

				<div class="col-md-12" style="background-size: cover;">
					<div id="testimonial-carousel-single" class="owl-carousel owl-theme wow fadeInUp owl-loaded" style="visibility: hidden; animation-name: none; background-size: cover;">
					<div class="owl-stage-outer" style="background-size: cover;"><div class="owl-stage" style="transform: translate3d(-3424px, 0px, 0px); transition: all 0s ease 0s; width: 5992px; background-size: cover;"><div class="owl-item cloned" style="width: 856px; background-size: cover;"><blockquote class="testimonial-big text-white">
							<span class="title">As we were planning renovation of our house we came to know KAM's from our relative. After meeting Meenakshi madam we were very impressed with the transparency and decided to do the interior from them. The design process was very flexible and team was very helpful. The design work was completed as planned with the satisfactory result.
								All the vendors have delivered good quality work to our satisfaction especially Pralhad for civil work. Jitendra has been really helpful to coordinate for prompt work completion at stages.
								Meenakshi madam was guiding and helping throughout the design selection and completion was really outstanding.
								It totally amazing feeling after our house is transformed. We are really thankful to KAM's entire team.
								Best wishes for their future.</span>
							<span class="name">Mrunal Sarode</span>
						</blockquote></div><div class="owl-item cloned" style="width: 856px; background-size: cover;"><blockquote class="testimonial-big text-white">
							<span class="title">Recently, I had completed interior of my house from KAMS designers and we really appreciate KAMS for their creativity and hard work done to decorate our house interiors!! They showed total transparency throughout their business.
								We got great guidance from Minakshi ma’am during the selection of all types of items. Also, we received prompt communication and support from Jitendra.
								KAMS management people are doing great work to keep the people Happy.
								Thank you!!</span>
							<span class="name">Prakash Desai</span>
						</blockquote></div><div class="owl-item" style="width: 856px; background-size: cover;"><blockquote class="testimonial-big text-white">
							<span class="title">Creative and Innovative designer then best choice we chose is KAMS Designer team ( Meenakshi ma'am , Kamal sir and team)...we started our journey from design , laminate selection .. project steps are clearly mentioned before start of the project ...steps are carefully and thoughtfully defined we do not have to worry to follow up and get confused. Jitendra is very active and he keeps watch  on the project progress frequently and any doubts we have easy goto person to work with. We selected KAMS approved vendor only ...work by each vendor , quality of end result is fabulous. Timelines are strictly followed by all vendors that is again a key parameter ..thank you teams!
								Specialty about the KAMS team is guiding customer right things , making sure  designs are contemporary and color themes are beautiful..it was a really amazing and fantastic experience we had ...thank you team for helping us to complete home!
							</span>
							<span class="name">Sujeet Biradar</span>
						</blockquote></div><div class="owl-item animated owl-animated-out fadeOut" style="width: 856px; background-size: cover; left: 856px;"><blockquote class="testimonial-big text-white">
							<span class="title">It has been a fantastic experience in getting our Home Interiors done with the KAMs Designer Team.
								Right from the start the experience with Meenakshi was very satisfying.
								Their experience in the industry and focus on details is truly worth considering.
								You can trust them with closed eyes and there is no intervention in selecting and negotiating with vendors of your choice.
								They do support you during Vendor selection and collaboration but they never intervene in payments or negotiations.
								Their designing team is very experienced and will help you with your design thoughts and preferences.
								I Will definitely recommend them for interior Designing for your home.</span>
							<span class="name">Garima Dani</span>
						</blockquote></div><div class="owl-item animated owl-animated-in fadeIn active" style="width: 856px; background-size: cover;"><blockquote class="testimonial-big text-white">
							<span class="title">We are absolutely delighted with the exceptional work carried out by the Kam's team in my flat.  Their assistance was invaluable, and they paid careful attention to our preferences, brilliantly executing our ideas. The end result is truly impressive. Kam's teams commitment to incorporating our ideas is highly commendable. I wholeheartedly recommend their services to anyone in search of remarkable interior design. Many thanks for turning our vision into reality!</span>
							<span class="name">Prashant Chaudhari</span>
						</blockquote></div><div class="owl-item cloned" style="width: 856px; background-size: cover;"><blockquote class="testimonial-big text-white">
							<span class="title">We started searching for the interiors for our home, and we came across YouTube videos from  Kam's designers. We were just impressed looking at the actual videos of the work done ( not just 3d designs, they really make you confused as all 3ds look good ).They have a very unique model of fee structure which keeps your headache and chaos of mind aside. They have complete flexibility to adjust your requirements within budget. And the very best thing about them is as a person both Meenakshi Ma'am and Kamal sir are very polite and down to earth.They have set and well established processes which ensures prompt and qualitative work. Thank you very much KAM'S team for turning our dream into reality.</span>
							<span class="name">Ashish Holkar</span>
						</blockquote></div><div class="owl-item cloned" style="width: 856px; background-size: cover;"><blockquote class="testimonial-big text-white">
							<span class="title">Designing your dream home is everyone's wish and Kam's Designer Zone fulfilled ours in every aspect. Great team of designers and efficient vendors led by Mr Kamal and Mrs Meenakshi is very good. They are honest, sincere and professional in their work. Design language is likeable, functional and moulds according to our choice. We made a very good decision.
								They were able to execute our home interior designing 1500km away from Pune! Would like to recommend everyone to avail their services from any place in India.</span>
							<span class="name">Gaurav Nayyar</span>
						</blockquote></div></div></div>
						<div class="owl-nav disabled" style="background-size: cover;">
							<button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button>
							<button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div id="jarallax-container-15" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);"><div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;https://madebydesignesia.com/themes/archi/23_images-interior-design/bg/2.jpg&quot;); position: absolute; top: 0px; left: 0px; width: 1680px; height: 701.598px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 61.2012px;"></div></div></section> -->

	<section style="background-size: cover;">
		<div class="container" style="background-size: cover;">
			<!-- portfolio filter begin -->
			<div class="row" style="background-size: cover;">
				<div class="col-lg-4 wow fadeInLeft" data-wow-delay=".3s" style="visibility: hidden; animation-delay: 0.3s; animation-name: none; background-size: cover;">
					<h2>Our Latest Projects</h2>
					<p class="lead">In our portfolio, you will discover a diverse range of styles, from sleek and contemporary to warm and rustic, all carefully curated to reflect the individuality of our clients. Whether it's a cozy living room, a vibrant office space, or a luxurious bedroom, we strive to create environments that inspire, comfort, and delight.</p>
				</div>

				<div class="col-lg-8 wow fadeInLeft" style="visibility: hidden; animation-name: none; background-size: cover;">
					<div id="gallery" class="row g-4 dcg-container" data-wow-delay=".3s" style="background-size: cover; position: relative; height: 601.86px;">

						<!-- gallery item -->
						<div class="col-lg-6 col-md-6 col-xs-12 item residential" style="background-size: cover; position: absolute; left: 0px; top: 0px;">
							<div class="dcg-two dcg-item" style="background-size: cover;">
								<a class="dcg-url simple-ajax-popup-align-top" href="https://madebydesignesia.com/themes/archi/project-details-1.html"></a>
								<img class="dcg-image" src="/assets/life2homewebsitever2/images/archi/pf (1).jpg" alt="">
								<div class="dcg-title" style="background-size: cover;">Eco Green Interior</div>
								<div class="dcg-text" style="background-size: cover;">click to view</div>
								<div class="dcg-line" style="background-size: cover;"></div>
								<div class="dcg-overlay" style="background-size: cover;"></div>
							</div>
						</div>
						<!-- close gallery item -->

						<!-- gallery item -->
						<div class="col-lg-6 col-md-6 col-xs-12 item residential" style="background-size: cover; position: absolute; left: 440px; top: 0px;">
							<div class="dcg-two dcg-item" style="background-size: cover;">
								<a class="dcg-url simple-ajax-popup-align-top" href="https://madebydesignesia.com/themes/archi/project-details-2.html"></a>
								<img class="dcg-image" src="/assets/life2homewebsitever2/images/archi/pf (2).jpg" alt="">
								<div class="dcg-title" style="background-size: cover;">Modern Elegance Suite</div>
								<div class="dcg-text" style="background-size: cover;">click to view</div>
								<div class="dcg-line" style="background-size: cover;"></div>
								<div class="dcg-overlay" style="background-size: cover;"></div>
							</div>
						</div>
						<!-- close gallery item -->

						<!-- gallery item -->
						<div class="col-lg-6 col-md-6 col-xs-12 item hospitaly" style="background-size: cover; position: absolute; left: 0px; top: 300px;">
							<div class="dcg-two dcg-item" style="background-size: cover;">
								<a class="dcg-url simple-ajax-popup-align-top" href="https://madebydesignesia.com/themes/archi/project-details-3.html"></a>
								<img class="dcg-image" src="/assets/life2homewebsitever2/images/archi/pf (3).jpg" alt="">
								<div class="dcg-title" style="background-size: cover;">Apartment Renovation</div>
								<div class="dcg-text" style="background-size: cover;">click to view</div>
								<div class="dcg-line" style="background-size: cover;"></div>
								<div class="dcg-overlay" style="background-size: cover;"></div>
							</div>
						</div>
						<!-- close gallery item -->

						<!-- gallery item -->
						<div class="col-lg-6 col-md-6 col-xs-12 item hospitaly" style="background-size: cover; position: absolute; left: 440px; top: 300px;">
							<div class="dcg-two dcg-item" style="background-size: cover;">
								<a class="dcg-url simple-ajax-popup-align-top" href="https://madebydesignesia.com/themes/archi/project-details-youtube.html"></a>
								<img class="dcg-image" src="/assets/life2homewebsitever2/images/archi/pf (4).jpg" alt="">
								<div class="dcg-title" style="background-size: cover;">Youtube Video</div>
								<div class="dcg-text" style="background-size: cover;">click to view</div>
								<div class="dcg-line" style="background-size: cover;"></div>
								<div class="dcg-overlay" style="background-size: cover;"></div>
							</div>
						</div>
						<!-- close gallery item -->

					</div>
				</div>
			</div>
			<!-- portfolio filter close -->
		</div>
	</section>

	<section aria-label="section" class="pt60 pb60 text-light" data-bgcolor="#18191B" style="background-color: rgb(24, 25, 27); background-size: cover;">
		<div class="wow fadeInRight d-flex" style="visibility: hidden; animation-name: none; background-size: cover;">
		  <div class="de-marquee-list ultra-big" style="background-size: cover;">
			<div class="d-item" style="background-size: cover;">
			  <span class="d-item-txt ">Concept Development</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Space Planning</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Floor Plans</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Furniture Selection</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Art and Accessories</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Preconstruction</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Lighting Design</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Window Treatments</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Project Management</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">3D Visualization</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Renovation and Remodeling</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Sustainable Design</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			 </div>
		  </div>

		  <div class="de-marquee-list ultra-big" style="background-size: cover;">
			<div class="d-item" style="background-size: cover;">
			  <span class="d-item-txt ">Concept Development</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Space Planning</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Floor Plans</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Furniture Selection</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Art and Accessories</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Preconstruction</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Lighting Design</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Window Treatments</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Project Management</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">3D Visualization</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Renovation and Remodeling</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			  <span class="d-item-txt ">Sustainable Design</span>
			  <span class="d-item-block"></span>
			  <span class="d-item-display">
			  </span>
			 </div>
		  </div>
		</div>
	</section>
  </div>
{% endblock%}
