{% extends 'templates/archi_base.html' %}

{% block content %}

        <!-- subheader -->
        <section id="subheader" data-speed="8" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Parent's Bedroom</h1>
                        <ul class="crumb">
                            <li><a href="/">Home</a></li>
                            <li class="sep">/</li>
                            <li><a href="/life2home_allroomthemes">All Room Design Ideas</a></li>
                            <li class="sep">/</li>
                            <li>Parent's Bedroom</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <!-- content begin -->
        <div id="content" style="padding-top: 0px !important;">
            <div class="container">
                <div class="spacer-single"></div>
                <!-- portfolio filter close -->
                <div id="gallery" class="row gallery full-gallery de-gallery pf_4_cols hover-1 wow fadeInUp" data-wow-delay=".3s">

                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/roomthemes/parentsbedroom/Parents_bedroom00001.png">
                                <img src="/assets/life2homewebsitever2/images/portfolio/roomthemes/parentsbedroom/Parents_bedroom00001.png" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/roomthemes/parentsbedroom/Parents_bedroom00002.png">
                                <img src="/assets/life2homewebsitever2/images/portfolio/roomthemes/parentsbedroom/Parents_bedroom00002.png" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/roomthemes/parentsbedroom/Parents_bedroom00003.png">
                                <img src="/assets/life2homewebsitever2/images/portfolio/roomthemes/parentsbedroom/Parents_bedroom00003.png" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/roomthemes/parentsbedroom/Parents_bedroom00004.png">
                                <img src="/assets/life2homewebsitever2/images/portfolio/roomthemes/parentsbedroom/Parents_bedroom00004.png" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/roomthemes/parentsbedroom/Parents_bedroom00005.png">
                                <img src="/assets/life2homewebsitever2/images/portfolio/roomthemes/parentsbedroom/Parents_bedroom00005.png" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                    <!-- gallery item -->
                    <div class="col-md-3 col-sm-6 col-xs-12 item mb30">
                        <div class="picframe">
                            <a class="image-popup-no-margins" href="/assets/life2homewebsitever2/images/portfolio/roomthemes/parentsbedroom/Parents_bedroom00006.png">
                                <img src="/assets/life2homewebsitever2/images/portfolio/roomthemes/parentsbedroom/Parents_bedroom00006.png" class="img-responsive" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- close gallery item -->
                </div>
            </div>
        </div>

{% endblock %}