{% extends 'templates/archi_base.html' %}

{% block content %}

        <!-- subheader -->
        <section id="subheader" data-speed="8" data-type="background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Our Work</h1>
                        <ul class="crumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="sep">/</li>
                            <li>Our Work</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- subheader close -->

        <!-- content begin -->
        <div id="content" style="padding-top: 0px !important;">
            <div class="container">

                <div class="spacer-single"></div>

                <div id="gallery" class="row gallery full-gallery de-gallery pf_4_cols hover-1 wow fadeInUp" data-wow-delay=".3s">
                    <!-- gallery item -->
                    <div class="col-md-4 col-sm-6 col-xs-12 item mb30 livingroom">
                        <div class="picframe">
                            <a href="/life2home_allprojectthemes">
                                <span class="overlay-1">
                                    <span class="pf_text">
                                        <span class="project-name">Project Themes</span>
                                    </span>
                                </span>
                            </a>
                            <img src="/assets/life2homewebsitever2/images/portfolio/projectthemes/woodandwhite/w_w_00001.png" alt="" />
                        </div>
                    </div>
                    <!-- close gallery item -->

                    <!-- gallery item -->
                    <div class="col-md-4 col-sm-6 col-xs-12 item mb30 masterbedroom">
                        <div class="picframe">
                            <a href="/life2home_allroomthemes">
                                <span class="overlay-1">
                                    <span class="pf_text">
                                        <span class="project-name">Room Wise Design Ideas</span>
                                    </span>
                                </span>
                            </a>
                            <img src="/assets/life2homewebsitever2/images/portfolio/roomthemes/livingroom/Living_room00001.jpg" alt="" />
                        </div>
                    </div>
                    <!-- close gallery item -->
                </div>
            </div>
        </div>

{% endblock %}