{% extends 'templates/archi_base.html' %}

{% block content %}

<!-- subheader -->
<section id="subheader" data-speed="8" data-type="background" style="background-size: cover; background-position: 50% -3.125px;">
	<div class="container" style="background-size: cover;">
		<div class="row" style="background-size: cover;">
			<div class="col-md-12" style="background-size: cover;">
				<h1>Services</h1>
				<ul class="crumb">
					<li><a href="/">Home</a></li>
					<li class="sep">/</li>
					<li>Services</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- subheader close -->

<!-- content begin -->
<div id="content" class="no-top no-bottom" style="background-size: cover;">

	<!-- section service begin -->
	<section id="section-service-1" class="side-bg no-padding" style="background-size: cover;">
		<div class="image-container col-lg-5 pull-left" data-delay="0" style="background-size: cover; height: 444px;">
			<div class="background-image" style="background-size: cover;"></div>
		</div>

		<div class="container" style="background-size: cover;">
			<div class="row" style="background-size: cover;">
				<div class="inner-padding" style="background-size: cover;">
					<div class="col-lg-6 offset-lg-6 col-md-12 wow fadeInRight animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight; background-size: cover; opacity: 0;">
						<h3 class="id-color">Turnkey Interior Design Solutions</h3>
						Have your designs ready but worried about finding a trustworthy partner for execution? Your search ends here. Architect Kamal Joshi and Interior Designer Meenakshi Joshi, the visionaries behind this endeavour, believe in the pillars of trust, honesty, and transparency. With years of expertise, they lead LIFE2HOME to fulfil your aspirations seamlessly and budget-friendlily. We ensure your envisioned aesthetics come to life without compromising on quality materials.

						<div class="spacer-single" style="background-size: cover;"></div>
						<a href="https://madebydesignesia.com/themes/archi/service-1.html" class="btn-line">Read More</a>
					</div>
					<div class="clearfix" style="background-size: cover;"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- section service close -->

	<!-- section service begin -->
	<section id="section-service-2" class="side-bg no-padding" data-bgcolor="#212225" style="background-size: cover;background-color: rgb(245, 245, 245) !important;">
		<div class="image-container col-lg-5 offset-lg-7 col-md-12 pull-right" data-delay="0" style="background-size: cover; height: 444px;">
			<div class="background-image" style="background-size: cover;"></div>
		</div>

		<div class="container" style="background-size: cover;">
			<div class="row" style="background-size: cover;">
				<div class="inner-padding" style="background-size: cover;">
					<div class="col-lg-6 col-md-12 wow fadeInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft; background-size: cover;">
						<h3 class="id-color">Project Management Services						</h3>
						Unlock a hassle-free approach to project management with LIFE2HOME's streamlined service. With a straightforward fixed service charge, you gain the flexibility to choose between your preferred vendors or opt for trusted, registered vendors from our network. Our platform empowers you to effortlessly compare quotes, ensuring you access the most competitive rates through a transparent and efficient process. Say goodbye to the complexities of project management and experience a new level of ease and convenience with us.

						<div class="spacer-single" style="background-size: cover;"></div>
						<a href="https://madebydesignesia.com/themes/archi/service-1.html" class="btn-line">Read More</a>
					</div>
					<div class="clearfix" style="background-size: cover;"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- section service close -->

	<!-- section service begin -->
	<section id="section-service-3" class="side-bg no-padding" style="background-size: cover;">
		<div class="image-container col-lg-5 pull-left" data-delay="0" style="background-size: cover; height: 444px;">
			<div class="background-image" style="background-size: cover;"></div>
		</div>

		<div class="container" style="background-size: cover;">
			<div class="row" style="background-size: cover;">
				<div class="inner-padding" style="background-size: cover;">
					<div class="col-lg-6 offset-lg-6 col-md-12 wow fadeInRight" data-wow-delay=".5s" style="visibility: hidden; animation-delay: 0.5s; animation-name: none; background-size: cover;">
						<h3 class="id-color">Standard Home Design Services						</h3>
						Our standardized design modules feature sleek lines and contemporary aesthetics. You have the freedom to calculate your design charges and register with ease.


						<div class="spacer-single" style="background-size: cover;"></div>
						<a href="https://madebydesignesia.com/themes/archi/service-1.html" class="btn-line">Read More</a>
					</div>
					<div class="clearfix" style="background-size: cover;"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- section service close -->

	<!-- section service begin -->
	<section id="section-service-4" class="side-bg no-padding" data-bgcolor="#212225" style="background-size: cover;background-color: rgb(245, 245, 245)  !important;">
		<div class="image-container col-lg-5 offset-lg-7 col-md-12 pull-right" data-delay="0" style="background-size: cover; height: 444px;">
			<div class="background-image" style="background-size: cover;"></div>
		</div>

		<div class="container" style="background-size: cover;">
			<div class="row" style="background-size: cover;">
				<div class="inner-padding" style="background-size: cover;">
					<div class="col-lg-6 col-md-12 wow fadeInLeft" data-wow-delay=".5s" style="visibility: hidden; animation-delay: 0.5s; animation-name: none; background-size: cover;">
						<h3 class="id-color">Bespoke Home Design Services</h3>
						For those seeking uniqueness and personalization, our bespoke services curated by LIFE2HOME are at your disposal. Our senior team and Principal Designers will guide you in selecting laminates, curtains, wallpapers, sofas, and wall paint. Gain access to multiple vendor options from our preferred list, allowing you to compare quotes. With us, you'll not only receive assistance during execution but also enjoy after-service support for a remarkable 3 years from the project's completion.

						<div class="spacer-single" style="background-size: cover;"></div>
						<a href="https://madebydesignesia.com/themes/archi/service-1.html" class="btn-line">Read More</a>
					</div>
					<div class="clearfix" style="background-size: cover;"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- section service close -->

</div>

{% endblock%}
