{% extends 'templates/archi_base.html' %}

{% block content %}

<!-- subheader -->
<section id="subheader" data-speed="8" data-type="background">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Book Appointment</h1>
				<ul class="crumb">
					<li><a href="/">Home</a></li>
					<li class="sep">/</li>
					<li>Book Appointment</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- subheader close -->

<div class="container" style="padding-top: 50px !important;" >
	<div class="row">
		<div class="col-md-8 offset-md-2" style="    padding: 10px;
		background-color: lightblue;
		margin-bottom: 20px">
			<p style="margin: 0px;
			text-align: center;">{{new_booking_message}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<form name="contactForm" id='contact_form' method="post">
				<div id="step-1" class="row">
					<h4><i class="fa fa-user id-color"></i>Communication Details</h4>
					<div class="col-md-6">
						<div id='name_error' class='error'>Your name.</div>
						<div>
							<input type='text' name='Name' id='name' class="form-control" placeholder="Your Name" required>
						</div>
					</div>
					<div class="col-md-6">
						<div id='phone_error' class='error'>Your phone.</div>
						<div>
							<input type='text' name='phone' id='phone' class="form-control" placeholder="Your Phone" required>
						</div>
					</div>
					<div class="col-md-6">
						<div id='email_error' class='error'>Your valid E-mail ID.</div>
						<div>
							<input type='email' name='Email' id='email' class="form-control" placeholder="Your Email" required>
						</div>
					</div>
				</div>
				<div id="step-2" class="row">
					<h4><i class="fa fa-user id-color"></i>Appointment Slot</h4>
					<div class="col-md-6 mb10">
						<div id='appointmentslot_error' class='error'>Your valid E-mail ID.</div>
						<input type="text" id="demo"  class="form-control" placeholder="Select Appointment Date">
					</div>

					<div class="col-md-6 mb10">
						<div id='appointmentslot_error' class='error'>Your valid E-mail ID.</div>
						<div>
								<select name="Budget" id="budget" value="" class="form-control" placeholder="Select Appointment Slot">
								  <option value="Budget Friendly">11:00 AM</option>
								  <option value="Mid Range">11:30 AM</option>
								  <option value="High End">12:00 PM</option>
								</select>
						</div>
					</div>
				</div>
				<div id="step-3" class="row">
					<h4><i class="fa fa-user id-color"></i>Site Details</h4>
					<div class="col-md-6 mb10">
						<div id='site_type_error' class='error'>Site Type</div>
						<select name="site_type" id="site_type" value="" class="form-control" placeholder="Select Site Type">
							<option value="Apartment Flat">Apartment Flat</option>
							<option value="Duplex Apartment Flat">Duplex Apartment Flat</option>
							<option value="Independent Bunglow">Independent Bunglow</option>
							<option value="Row House">Row House</option>
						  </select>
					</div>
					<div class="col-md-6 mb10">
						<div id='site_configuration_error' class='error'>Site Configuration</div>
						<div>
								<select name="site_configuration" id="site_configuration" value="" class="form-control" placeholder="Select Site Configuration">
								  <option value="1 BHK">1 BHK</option>
								  <option value="2 BHK">2 BHK</option>
								  <option value="3 BHK">3 BHK</option>
								  <option value="4 BHK">4 BHK</option>
								  <option value="5 BHK">5 BHK</option>
								  <option value="5 BHK +">5 BHK +</option>
								</select>
						</div>
					</div>
					<div class="col-md-6 mb10">
						<div id='site_locality_error' class='error'>Site Type</div>
						<input type="text" id="site_locality"  class="form-control" placeholder="Site Locality">
					</div>
					<div class="col-md-6 mb10">
						<div id='site_fulladdress_error' class='error'>Site Type</div>
						<input type="text" id="site_fulladdress"  class="form-control" placeholder="Site Full Address">
					</div>
				</div>
				<div id="step-4" class="row">
					<h4><i class="fa fa-user id-color"></i>Project Completion Priority</h4>
					<div class="col-md-6 mb10">
						<div id='project_completion_priority_error' class='error'>Site Type</div>
						<select name="project_completion_priority" id="project_completion_priority" value="" class="form-control" placeholder="Select Project Completion Priority">
							<option value="Very Urgent (3 Months)">Very Urgent (3 Months)</option>
							<option value="Moderate (4 Months)">Moderate (4 Months)</option>
							<option value="Flexible (6 Months)">Flexible (6 Months)</option>
						  </select>
					</div>
					<div class="col-md-12">
						<div class="g-recaptcha" data-sitekey="copy-your-site-key-here"></div>
						<p id='submit' class="mt20">
							<input type='submit' id='send_message' value='Book An Appointment' class="btn btn-line black btn-big" style="    background-color: var(--primary-color-1);">
						</p>
					</div>
				</div>
			</form>

			

			<div id="success_message" class='success'>
				Your message has been sent successfully. Refresh this page if you want to send more messages.
			</div>
			<div id="error_message" class='error'>
				Sorry there was an error sending your form.
			</div>

		</div>
	</div>
</div>


{% endblock %}

{% block bottom_javascript %}
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />


    <script type="text/javascript">
				$('#demo').datepicker({
				changeMonth: true,
				changeYear: true,
				showButtonPanel: true,
				dateFormat: 'dd MM yy',
				minDate: new Date(),
				maxDate: "+45d",
				onClose: function(dateText, inst) { 
					var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
					var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
					console.log(dateText);
				}
			}).focus(function () {
				//$(".ui-datepicker-calendar").hide();
			});
	</script>
{% endblock %}