{% extends 'templates/archi_base.html' %}

{% block content %}

    <!-- subheader -->
	<section id="subheader" data-speed="8" data-type="background">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>FAQ</h1>
					<ul class="crumb">
						<li><a href="index.html">Home</a></li>
						<li class="sep">/</li>
						<li>FAQ</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- subheader close -->

	<!-- content begin -->
	<div id="content" class="no-top no-bottom">
		<section id="section-faq">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="expand-group">
							{% for faq in faqs %}
								<div class="expand">
									<h4>{{faq.question}}</h4>
									<div class="hidden-content">
										{{faq.answer}}
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- section begin -->
		<section id="view-all-projects" class="call-to-action bg-color text-dark" style="background-color: rgb(245, 245, 245);" data-speed="5" data-type="background"
			aria-label="cta">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h2>Do you have more questions?</h2>
					</div>

					<div class="col-md-4 text-right">
						<a href="/life2home_contact" class="btn btn-line black btn-big wow fadeInUp">Ask Us</a>
					</div>
				</div>
			</div>
		</section>
		<!-- logo carousel section close -->


	</div>


{% endblock%}
