<!DOCTYPE html>
<html lang="zxx" style="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <link rel="icon" href="/assets/life2homewebsitever2/images/archi/Life2home-favicon.png" type="image/gif" sizes="16x16">
    <title>Life2Home - Your Trusted Turnkey Interior Designing Solutions Partner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Life2Home - Your Trusted Turnkey Interior Designing Solutions Partner">
    <meta name="keywords" content="architecture,building,business,bootstrap,creative,exterior design,furniture design,gallery,garden design,house,interior design,landscape design,multipurpose,onepage,portfolio,studio">
    <meta name="author" content="Life2Home a KAMs Designer Zone Initiative">

    <!-- CSS Files
    ================================================== -->
    <link href="/assets/life2homewebsitever2/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="/assets/life2homewebsitever2/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="/assets/life2homewebsitever2/css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/life2homewebsitever2/css/color.css" rel="stylesheet" type="text/css">
	<link href="/assets/life2homewebsitever2/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- custom background -->
    <link rel="stylesheet" href="/assets/life2homewebsitever2/css/bg.css" type="text/css">

    <!-- color scheme -->
	<link rel="stylesheet" href="/assets/life2homewebsitever2/css/yellow.css" type="text/css" id="colors">
        
    <!-- RS5.0 Stylesheet -->
    <link rel="stylesheet" href="/assets/life2homewebsitever2/css/settings.css" type="text/css">
    <link rel="stylesheet" href="/assets/life2homewebsitever2/css/layers.css" type="text/css">
    <link rel="stylesheet" href="/assets/life2homewebsitever2/css/navigation.css" type="text/css">
    <link rel="stylesheet" href="/assets/life2homewebsitever2/css/rev-settings.css" type="text/css">
	
	<!-- custom style -->
	<link rel="stylesheet" href="/assets/life2homewebsitever2/css/custom-interior-design.css" type="text/css">
    
    <!--Frappe Framework Stuff-->
    <!-- <link rel="stylesheet" href="/assets/frappe/dist/css/website.bundle.NH5MWTFE.css" type="text/css"> -->
    
    <script>
		window.frappe = {};
		frappe.ready_events = [];
		frappe.ready = function(fn) {
			frappe.ready_events.push(fn);
		}
		window.dev_server = 1;
		window.socketio_port = 9003;
		window.show_language_picker = false;
	</script>
    
    {{ include_script('frappe-web.bundle.js') }}

    {% block script %}

    {% endblock%}

    {% block frappe_stylesheet %}

    {% endblock%}
</head>

<body id="homepage" class="de_light" data-new-gr-c-s-check-loaded="14.1147.0" data-gr-ext-installed="" cz-shortcut-listen="true" style="display: block;">

    <div id="wrapper" style="background-size: cover;">

        <!-- header begin -->
        <header class="">
            <div class="info" style="background-size: cover;">
                <div class="container" style="background-size: cover;">
                    <div class="row" style="background-size: cover;">
                        <div class="col-md-12" style="background-size: cover;">
                            <div class="column" style="background-size: cover;">Working Hours Monday - Friday <span class="id-color"><strong>08:00-16:00</strong></span></div>
                            <div class="column" style="background-size: cover;">Toll Free <span class="id-color"><strong>1800.899.900</strong></span></div>
                            <!-- social icons -->
                            <div class="column social" style="background-size: cover;">
                                <a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#"><i class="fa fa-facebook"></i></a>
                                <a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#"><i class="fa fa-twitter"></i></a>
                                <a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#"><i class="fa fa-rss"></i></a>
                                <a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#"><i class="fa fa-google-plus"></i></a>
                                <a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#"><i class="fa fa-envelope-o"></i></a>
                            </div>
                            <!-- social icons close -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" style="background-size: cover;">
                <div class="row" style="background-size: cover;">
                    <div class="col-md-12" style="background-size: cover;">
                    	<div class="md-flex" style="background-size: cover;">
	                        <!-- logo begin -->
	                        <div id="logo" style="background-size: cover;">
	                            <a href="/">
	                                <img class="logo" style="height: 100px !important;" src="/assets/life2homewebsitever2/images/archi/Life2home-Logo.png" alt="">
	                            </a>
	                        </div>
	                        <!-- logo close -->

	                        <!-- small button begin -->
	                        <span id="menu-btn"></span>
	                        <!-- small button close -->

	                        <!-- mainmenu begin -->
                        	<div class="md-flex-col" style="background-size: cover;">
								<nav class="md-flex">
									<ul id="mainmenu" class="no-separator dotted-separator">
										<li><a href="/">Home<span></span></a><span></span>
										</li>
										<li><a href="/life2home_aboutus">About Us</a><span></span>
										</li>
										<li><a href="/life2home_services">Services</a><span></span>
										</li>
										<li><a href="/life2home_faq">FAQs</a><span></span>
										</li>
										<li><a href="/life2home_ourwork">Our Work</a><span></span>
											<ul>
												<li><a href="/life2home_allprojectthemes">Project Themes</a></li>
												<li><a href="/life2home_allroomthemes">Room Wise Design Ideas</a></li>
											</ul>
										</li>
                                        <li><a href="/appointment/client/book">Book Appointment</a><span></span>
											<ul>
												<li><a href="/appointment/client/book">For Client</a></li>
												<li><a href="/appointment/me/book">For Marketing Executive</a></li>
											</ul>
										</li>
										<li><a href="/life2home_contact">Contact</a><span></span>
										</li>
                                        <li><a href="https://www.facebook.com/life2homepvtltd" target="_blank"><i class="fa fa-facebook fa-lg"></i></a><span></span>
										</li>
                                        <li><a href="https://www.youtube.com/@LIFE2HOME" target="_blank"><i class="fa fa-youtube fa-lg"></i></a><span></span>
										</li>
                                        <li><a href="https://www.instagram.com/life2homepvtltd" target="_blank"><i class="fa fa-instagram fa-lg"></i></a><span></span>
										</li>
									</ul>
								</nav>
								<!-- mainmenu close -->
							</div>
						</div>
					</div>
                </div>
            </div>
        </header>
        <!-- header close -->

        <!-- content begin -->
        {% block content %}

        {% endblock%}
        <!-- footer begin -->
        <footer style="padding-top: 10px;">
            <div class="container" style="background-size: cover;">
                <div class="row" style="background-size: cover;">
                    <div class="col-lg-6" style="background-size: cover;">
                        <img src="/assets/life2homewebsitever2/images/archi/Life2home-Logo.png" style="height: 125px;" class="logo-small" alt=""><br>We are passionate about transforming spaces into stunning, functional, and personalized environments. With years of experience in the industry, we specialize in creating exceptional interior designs that reflect our clients unique style and meet their specific needs.
                    </div>
                    <div class="col-lg-3" style="background-size: cover;">
                        <h3>Contact Us</h3>
                        <div class="widget widget-address" style="background-size: cover;">
                            <address>
                                <span>Office No 6, LIF2HOME PVT LTD , C/o Kams Designer Zone, Arun Park, Near, Aditya Birla Hospital Marg, Thergaon, Pimpri-Chinchwad, Maharashtra 411033</span>
                                <span><strong>Phone:</strong> <a href="tel:(+91) 20 7117 7002">(+91) 20 7117 7002</a></span>
                                <span><strong>WhatsApp:</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://api.whatsapp.com/send?phone=7720075070&text=Hi Life2Home Team" target="_blank">(+91) 77200 75070</a></span>
                                <span><strong>Email:</strong><a href="mailto:info@life2home.in">info@life2home.in</a></span>
                                <span><strong>Web:</strong><a href="/">https://life2home.in/</a></span>
                            </address>
                        </div>
                    </div>

                    <div class="col-lg-3" style="background-size: cover;">
                        <div class="widget widget_recent_post" style="background-size: cover;">
                            <h3>Our Services</h3>
                            <ul>
                                <li><a href="#">Turnkey Interior Design Solutions</a></li>
                                <li><a href="#">Project Management</a></li>
                                <li><a href="#">Standard Home Design Services</a></li>
                                <li><a href="#">Consulting</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="subfooter" style="background-size: cover;">
                <div class="container" style="background-size: cover;">
                    <div class="row" style="background-size: cover;">
                        <div class="col-md-9" style="background-size: cover;">
                            © Copyright 2023 - Life2Home - Your Trusted Turnkey Interior Designing Solutions Partner
                        </div>
                        <div class="col-md-3 text-right" style="background-size: cover;">
                            <div class="social-icons" style="background-size: cover;">
                                <a href="https://www.facebook.com/life2homepvtltd" target="_blank"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="https://www.youtube.com/@LIFE2HOME" target="_blank"><i class="fa fa-youtube fa-lg"></i></a>
                                <a href="https://www.instagram.com/life2homepvtltd" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" id="back-to-top" class="show"></a>
        </footer>
            <!-- footer close -->
    </div>
    <div id="purchase-now" style="background-size: cover;">
    	<a href="https://api.whatsapp.com/send?phone=7720075070&text=Hi Life2Home Team" target="_blank"><span class="fa fa-whatsapp fa-lg"></span></a>
    	<div class="pn-hover" style="background-size: cover;">Contact Us</div>
    </div>

    <!-- Javascript Files
    ================================================== -->
    <script src="/assets/life2homewebsitever2/js/archi/plugins.js"></script>
    <script src="/assets/life2homewebsitever2/js/archi/designesia.js"></script>
    <script src="/assets/life2homewebsitever2/js/archi/jquery.plugin.js"></script>
    <script src="/assets/life2homewebsitever2/js/archi/jquery.countdown.js"></script>
    <script src="/assets/life2homewebsitever2/js/archi/countdown-custom.js"></script>
    <script src="/assets/life2homewebsitever2/js/archi/jquery.event.move.js"></script>
    <script src="/assets/life2homewebsitever2/js/archi/jquery.twentytwenty.js"></script>	

    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script src="/assets/life2homewebsitever2/js/archi/jquery.themepunch.plugins.min.js"></script>
    <script src="/assets/life2homewebsitever2/js/archi/jquery.themepunch.revolution.min.js"></script>
	

	<script>
    async function get_time_slots(date, timezone) {
    let slots = (await frappe.call({
        method: 'erpnext.www.book_appointment.index.get_appointment_slots',
        args: {
            date: date,
            timezone: timezone
        }
    })).message;
    console.log(slots);
    return slots;
}
    $(window).on("load", function(){
      $(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({default_offset_pct: 0.5});
      $(".twentytwenty-container[data-orientation='vertical']").twentytwenty({default_offset_pct: 0.5, orientation: 'vertical'});
        //get_time_slots ('2024-01-09','Asia/Calcutta')
    });
    </script>



<div id="de_notif" style="background-size: cover;"></div></body><style>
@media print {
  #simplifyJobsContainer {
    display: none;
  }
}
</style><div id="simplifyJobsContainer" style="position: absolute; top: 0px; left: 0px; width: 0px; height: 0px; overflow: visible; z-index: 2147483647;"><span><template shadowrootmode="open"><link rel="stylesheet" href="chrome-extension://pbanhockgagggenencehbnadejlgchfc/css/styles.css"><style>
  :host {
    all: initial;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: Palanquin, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(203, 213, 225, 1) transparent;
  }
  *::-webkit-scrollbar {
    width: 6px;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgba(203, 213, 225, 1);
    border-radius: 3px;
    border: 0;
  }
</style><div id="simplifyJobsPortals"></div></template></span></div><script id="simplifyJobsPageScript" src="chrome-extension://pbanhockgagggenencehbnadejlgchfc/js/pageScript.bundle.js"></script><grammarly-desktop-integration data-grammarly-shadow-root="true"><template shadowrootmode="open"><style>
      div.grammarly-desktop-integration {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select:none;
        user-select:none;
      }

      div.grammarly-desktop-integration:before {
        content: attr(data-content);
      }
    </style><div aria-label="grammarly-integration" role="group" tabindex="-1" class="grammarly-desktop-integration" data-content="{&quot;mode&quot;:&quot;full&quot;,&quot;isActive&quot;:true,&quot;isUserDisabled&quot;:false}"></div></template></grammarly-desktop-integration>
    <script>frappe.csrf_token = "{{frappe.session.csrf_token}}";</script>
    {% block bottom_javascript %}

    {% endblock%}
    </html>