<!DOCTYPE html>
<html lang="zxx" style="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <link rel="icon" href="/assets/life2homewebsitever2/images/archi/Life2home-favicon.png" type="image/gif" sizes="16x16">
    <title>Life2Home - Your Trusted Turnkey Interior Designing Solutions Partner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Life2Home - Your Trusted Turnkey Interior Designing Solutions Partner">
    <meta name="keywords" content="architecture,building,business,bootstrap,creative,exterior design,furniture design,gallery,garden design,house,interior design,landscape design,multipurpose,onepage,portfolio,studio">
    <meta name="author" content="Life2Home a KAMs Designer Zone Initiative">

    <!-- CSS Files
    ================================================== -->
    <link href="/assets/life2homewebsitever2/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="/assets/life2homewebsitever2/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="/assets/life2homewebsitever2/css/style.css" rel="stylesheet" type="text/css">
    <link href="/assets/life2homewebsitever2/css/color.css" rel="stylesheet" type="text/css">
	<link href="/assets/life2homewebsitever2/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- custom background -->
    <link rel="stylesheet" href="/assets/life2homewebsitever2/css/bg.css" type="text/css">

    <!-- color scheme -->
	<link rel="stylesheet" href="/assets/life2homewebsitever2/css/yellow.css" type="text/css" id="colors">
        
    <!-- RS5.0 Stylesheet -->
    <link rel="stylesheet" href="/assets/life2homewebsitever2/css/settings.css" type="text/css">
    <link rel="stylesheet" href="/assets/life2homewebsitever2/css/layers.css" type="text/css">
    <link rel="stylesheet" href="/assets/life2homewebsitever2/css/navigation.css" type="text/css">
    <link rel="stylesheet" href="/assets/life2homewebsitever2/css/rev-settings.css" type="text/css">
	
	<!-- custom style -->
	<link rel="stylesheet" href="/assets/life2homewebsitever2/css/custom-interior-design.css" type="text/css">
</head>

<body id="homepage" class="de_light" data-new-gr-c-s-check-loaded="14.1147.0" data-gr-ext-installed="" cz-shortcut-listen="true" style="display: block;">

    <div id="wrapper" style="background-size: cover;">

        <!-- header begin -->
        <header class="">
            <div class="info" style="background-size: cover;">
                <div class="container" style="background-size: cover;">
                    <div class="row" style="background-size: cover;">
                        <div class="col-md-12" style="background-size: cover;">
                            <div class="column" style="background-size: cover;">Working Hours Monday - Friday <span class="id-color"><strong>08:00-16:00</strong></span></div>
                            <div class="column" style="background-size: cover;">Toll Free <span class="id-color"><strong>1800.899.900</strong></span></div>
                            <!-- social icons -->
                            <div class="column social" style="background-size: cover;">
                                <a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#"><i class="fa fa-facebook"></i></a>
                                <a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#"><i class="fa fa-twitter"></i></a>
                                <a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#"><i class="fa fa-rss"></i></a>
                                <a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#"><i class="fa fa-google-plus"></i></a>
                                <a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#"><i class="fa fa-envelope-o"></i></a>
                            </div>
                            <!-- social icons close -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" style="background-size: cover;">
                <div class="row" style="background-size: cover;">
                    <div class="col-md-12" style="background-size: cover;">
                    	<div class="md-flex" style="background-size: cover;">
	                        <!-- logo begin -->
	                        <div id="logo" style="background-size: cover;">
	                            <a href="/">
	                                <img class="logo" style="height: 75px !important;" src="/assets/life2homewebsitever2/images/archi/Life2home-Logo.png" alt="">
	                            </a>
	                        </div>
	                        <!-- logo close -->

	                        <!-- small button begin -->
	                        <span id="menu-btn"></span>
	                        <!-- small button close -->

	                        <!-- mainmenu begin -->
                        	<div class="md-flex-col" style="background-size: cover;">
								<nav class="md-flex">
									<ul id="mainmenu" class="no-separator dotted-separator">
										<li><a href="/">Home<span></span></a><span></span>
											<!-- <ul class="mega">
												<li>
													<div class="container-fluid" style="background-size: cover;">
														<div class="menu-content" style="background-size: cover;">
															<div class="row" style="background-size: cover;">
																<div class="col-lg-3 col-md-12" style="background-size: cover;">
																	<ul>
																		<li><a href="https://madebydesignesia.com/themes/archi/25_index-magazine.html">New: Archi Magazine</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/26_index-flooring.html">New: Flooring</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/24_index-solar.html">Solar Services</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-modern-v2.html">Modern v2</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html">Interior Design</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/22_index-roofing.html">Roofing Services</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/21_index-home.html">Single Property</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/20_index-hotel.html">Hotel</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/19_index-pool.html">Swimming Pool</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/06_index-sidebar-architecture.html">Architecture (sidebar)</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/18_index-car-wash.html">Car Wash Services</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/17_index-mover.html">Moving Services</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/16_index-painting.html">Painting Services</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/15_index-cleaning-service.html">Cleaning Services</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/14_index-cctv.html">CCTV Services</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/12_index-artist.html">Artist</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/13_index-plumbing.html">Plumbing Services</a></li>		
																		<li><a href="https://madebydesignesia.com/themes/archi/index-store.html">Furniture Store</a></li>
																	</ul>
																</div>
																
																<div class="col-lg-3 col-md-12" style="background-size: cover;">
																	<ul>							
																		<li><a href="https://madebydesignesia.com/themes/archi/index.html">Original</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-snowy-2.html">New: Snowy 2</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-onepage-stacked.html">Onepage Stacked</a></li>					
																		<li><a href="https://madebydesignesia.com/themes/archi/index-store-2.html">Furniture Store 2</a></li>		
																		<li><a href="https://madebydesignesia.com/themes/archi/11_index-interior-design.html">Interior Design</a></li>					
																		<li><a href="https://madebydesignesia.com/themes/archi/07_index-photography.html">Photography</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/06_index-architecture.html">Architecture</a></li>	
																		<li><a href="https://madebydesignesia.com/themes/archi/05_index-consulting.html">Consulting</a></li>	
																		<li><a href="https://madebydesignesia.com/themes/archi/03_index-apartment.html">Apartment</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/04_index-kitchen.html">Kitchen</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/02_index-webstudio.html">Web Studio</a></li>	
																		<li><a href="https://madebydesignesia.com/themes/archi/10_index-architect.html">Architect</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-modern.html">Modern</a></li>			
																		<li><a href="https://madebydesignesia.com/themes/archi/08_index-industry.html">Industry</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/09_index-garden.html">Garden</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-studio.html">Studio</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-coworking.html">Coworking</a></li>
																	</ul>
																</div>
																
																<div class="col-lg-3 col-md-12" style="background-size: cover;">
																	<ul>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-product-slider.html">Product Slider</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-landing-product.html">Product Landing</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-arts.html">Arts</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-light.html">Original Light</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-elegant.html">Elegant</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-header-bottom.html">Bottom Navigation</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-header-bottom-light.html">Bottom Navigation Light</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-landing-page.html">Onepage Landing</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-landing-page-light.html">Onepage Landing Light</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-sidebar.html">Side Navigation</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/sidebar-light-index.html">Side Navigation Light</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-onepage.html">Onepage</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-onepage-light.html">Onepage Light</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-corporate.html">Corporate</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-rtl.html">Home (RTL)</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-before-after.html">Before After</a></li>	
																	</ul>
																</div>
																
																<div class="col-lg-3 col-md-12" style="background-size: cover;">
																	<ul>					
																		<li><a href="https://madebydesignesia.com/themes/archi/01_index-minisite.html">Minisite</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-masonry-med-4-cols.html">Masonry</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-masonry-light-med-4-cols.html">Masonry Light</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-profession.html">Profession</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-profession-light.html">Profession Light</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-portfolio-minimal.html">Portfolio Minimal</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-snowy.html">Snowy</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-coming-soon.html">Coming Soon Page</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-minimal.html">Minimal</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-hero-slider.html">Hero Slider</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-hero-particle.html">Hero Particle</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-hero-parallax.html">Hero Parallax</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-hero-video.html">Hero Video Background</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-hero-youtube.html">Hero Youtube Background</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-hero-looping-image.html">Hero Looping Image</a></li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</li>                                        
											</ul> -->
										</li>
										<li><a href="/life2home_aboutus">About Us</a><span></span>
											<!-- <ul>
												<li><a href="https://madebydesignesia.com/themes/archi/shop.html">Shop Dark</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/shop-light.html">Shop Light</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/product-single.html">Product Single</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/product-single-light.html">Product Single Light</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/shop-cart.html">Shopping Cart</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/shop-cart-light.html">Shopping Cart Light</a></li>
											</ul> -->
										</li>
										<li><a href="/life2home_services">Services</a><span></span>
											<!-- <ul>
												<li><a href="https://madebydesignesia.com/themes/archi/shop.html">Shop Dark</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/shop-light.html">Shop Light</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/product-single.html">Product Single</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/product-single-light.html">Product Single Light</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/shop-cart.html">Shopping Cart</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/shop-cart-light.html">Shopping Cart Light</a></li>
											</ul> -->
										</li>
										<li><a href="/life2home_faq">FAQs</a><span></span>
											<!-- <ul>
												<li><a href="https://madebydesignesia.com/themes/archi/shop.html">Shop Dark</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/shop-light.html">Shop Light</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/product-single.html">Product Single</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/product-single-light.html">Product Single Light</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/shop-cart.html">Shopping Cart</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/shop-cart-light.html">Shopping Cart Light</a></li>
											</ul> -->
										</li>
										<li><a href="/life2home_allprojectthemes">Our Work</a><span></span>
											<ul>
												<li><a href="/life2home_allprojectthemes">Project Themes</a></li>
												<li><a href="/life2home_allroomthemes">Room Wise Design Ideas</a></li>
											</ul>
										</li>
										<li><a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#">Pages</a><span></span>
											<ul class="mega">
												<li>
													<div class="container-fluid" style="background-size: cover;">
														<div class="menu-content" style="background-size: cover;">
															<div class="row" style="background-size: cover;">
																<div class="col-lg-3 col-md-12" style="background-size: cover;">
																	<ul>
																		<li class="title">Pages</li>
																		<li><a href="https://madebydesignesia.com/themes/archi/pricing-table-3-cols.html">Pricing 3 Cols</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/pricing-table-4-cols.html">Pricing 4 Cols</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/faq.html">FAQ</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/about.html">About Us</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/about-rtl.html">About Us (RTL)</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/pricing-table-3-cols-light.html">Pricing 3 Cols Light</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/pricing-table-4-cols-light.html">Pricing 4 Cols Light</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/faq-light.html">FAQ Light</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/about-light.html">About Us Light</a></li>
																	</ul>
																</div>
																
																<div class="col-lg-3 col-md-12" style="background-size: cover;">
																	<ul>
																		<li class="title">Headers</li>
																		<li><a href="https://madebydesignesia.com/themes/archi/header-custom-style-1.html">Extended Header 1</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/header-custom-style-2.html">Extended Header 2</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/header-custom-style-3.html">Extended Header 3</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/header-custom-style-1-light.html">Extended Header Light 1</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/header-custom-style-2-light.html">Extended Header Light 2</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/header-custom-style-3-light.html">Extended Header Light 3</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index.html">Header Default</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-header-bottom.html">Header Bottom</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-sidebar.html">Header Side</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/index-arts.html">Header Autoshow</a></li>
																	</ul>
																</div>
																
																<div class="col-lg-3 col-md-12" style="background-size: cover;">
																	<ul>
																		<li class="title">Elements</li>
																		<li><a href="https://madebydesignesia.com/themes/archi/icons-fontawesome.html">768 FontAwesome Icons</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/icons-elegant.html">358 Elegant Icons</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/icons-etline.html">100 Etline Icons</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/accordion.html">Accordion</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/alerts.html">Alerts</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/before-after.html">Before After</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/buttons.html">Buttons</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/carousel.html">Carousel</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/countdown.html">Countdown</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/counters.html">Counters</a></li>
																	</ul>
																</div>
																
																<div class="col-lg-3 col-md-12" style="background-size: cover;">
																	<ul>
																		<li class="title">Elements</li>
																		<li><a href="https://madebydesignesia.com/themes/archi/form-style.html">Form Style</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/icon-box.html">Icon Box</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/modal.html">Modal</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/skill-bar.html">Skill Bar</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/steps.html">Steps</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/tabs.html">Tabs</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/team.html">Team</a></li>
																		<li><a href="https://madebydesignesia.com/themes/archi/timeline.html">Timeline</a></li>
																	</ul>
																</div>
																
																<div class="clearfix" style="background-size: cover;"></div>
															</div>
														</div>
													</div>
												</li>                                        
											</ul>
										</li>
										<li><a href="https://madebydesignesia.com/themes/archi/project-wide-4-cols.html">Projects</a><span></span>
											<ul>
												<li><a href="https://madebydesignesia.com/themes/archi/project-wide-4-cols.html">New: Creative Style</a><span></span>
													<ul>
														<li><a href="https://madebydesignesia.com/themes/archi/project-creative-one.html">Creative One</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/project-creative-two.html">Creative Two</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/project-creative-three.html">Creative Three</a></li>
													</ul>
												</li>
												<li><a href="https://madebydesignesia.com/themes/archi/project-wide-4-cols.html">Wide Style</a><span></span>
													<ul>
														<li><a href="https://madebydesignesia.com/themes/archi/project-wide-2-cols.html">2 Cols Wide</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/project-wide-3-cols.html">3 Cols Wide</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/project-wide-4-cols.html">4 Cols Wide</a></li>
													</ul>
												</li>
												<li><a href="https://madebydesignesia.com/themes/archi/project-contained-3-cols.html">Contained Style</a><span></span>
													<ul>
														<li><a href="https://madebydesignesia.com/themes/archi/project-contained-2-cols.html">2 Cols Contained</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/project-contained-3-cols.html">3 Cols Contained</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/project-contained-4-cols.html">4 Cols Contained</a></li>
													</ul>
												</li>
												<li><a href="https://madebydesignesia.com/themes/archi/project-carousel-3-cols.html">Carousel Style</a><span></span>
													<ul>
														<li><a href="https://madebydesignesia.com/themes/archi/project-carousel-2-cols.html">2 Cols Carousel</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/project-carousel-3-cols.html">3 Cols Carousel</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/project-carousel-4-cols.html">4 Cols Carousel</a></li>
													</ul>
												</li>
												<li><a href="https://madebydesignesia.com/themes/archi/project-inverted-3-cols.html">Inverted Style</a><span></span>
													<ul>
														<li><a href="https://madebydesignesia.com/themes/archi/project-inverted-2-cols.html">2 Cols Inverted</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/project-inverted-3-cols.html">3 Cols Inverted</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/project-inverted-4-cols.html">4 Cols Inverted</a></li>
													</ul>
												</li>
												<li><a href="https://madebydesignesia.com/themes/archi/project-contained-3-cols.html">Masonry Gallery</a><span></span>
													<ul>
														<li><a href="https://madebydesignesia.com/themes/archi/project-masonry-4-cols.html">3 Cols Masonry</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/project-masonry-3-cols.html">4 Cols Masonry</a></li>
													</ul>
												</li>
												<li><a href="https://madebydesignesia.com/themes/archi/project-contained-3-cols.html">Simple Gallery</a><span></span>
													<ul>
														<li><a href="https://madebydesignesia.com/themes/archi/gallery-2-cols.html">2 Cols</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/gallery-3-cols.html">3 Cols</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/gallery-4-cols.html">4 Cols</a></li>
													</ul>
												</li>
												<li><a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#">Single Project</a><span></span>
													<ul>
														<li><a href="https://madebydesignesia.com/themes/archi/10_project-details.html">Architect</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/02_project-details.html">Web Studio</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/08_project-details-industry.html">Industry</a></li>
													</ul>
												</li>
												<li><a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#">Misc</a><span></span>
													<ul>
														<li><a href="https://madebydesignesia.com/themes/archi/project-before-after.html">Before After</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li><a href="https://madebydesignesia.com/themes/archi/services.html">Services</a><span></span>
											<ul>
												<li><a href="https://madebydesignesia.com/themes/archi/service-1.html">Residential Design</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/service-2.html">Hospitaly Design</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/service-3.html">Office Design</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/service-4.html">Commercial Design</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/services.html">All Services</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/services-style-2.html">New All Services</a></li>
											</ul>
										</li>
										<li><a href="https://madebydesignesia.com/themes/archi/blog.html">Blog</a><span></span>
											<ul>
												<li><a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#">Blog Default</a><span></span>
													<ul>
														<li><a href="https://madebydesignesia.com/themes/archi/blog.html">Dark + Right Sidebar</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/blog-light.html">Light + Right Sidebar</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/blog-left-sidebar.html">Dark + Left Sidebar</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/blog-left-sidebar-light.html">Light + Left Sidebar</a></li>
													</ul>
												</li>
												<li><a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#">Blog Grid</a><span></span>
													<ul>
														<li><a href="https://madebydesignesia.com/themes/archi/blog-grid.html">Dark</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/blog-grid-light.html">Light</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/blog-grid-sidebar-right.html">Dark + Sidebar</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/blog-grid-light-sidebar-right.html">Light + Sidebar</a></li>
													</ul>
												</li>
												<li><a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#">New: Blog Poster</a><span></span>
													<ul>
														<li><a href="https://madebydesignesia.com/themes/archi/blog-poster.html">Default</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/blog-poster-sidebar-right.html">Right Sidebar</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/blog-poster-sidebar-left.html">Left Sidebar</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/blog-poster-fullwidth-3-cols.html">Fullwidth 3 Cols</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/blog-poster-fullwidth-2-cols.html">Fullwidth 2 Cols</a></li>
													</ul>
												</li>
												<li><a href="https://madebydesignesia.com/themes/archi/23_index-interior-design.html#">Blog Single</a><span></span>
													<ul>
														<li><a href="https://madebydesignesia.com/themes/archi/blog-single.html">Single</a></li>
														<li><a href="https://madebydesignesia.com/themes/archi/blog-single-light.html">Single Light</a></li>
													</ul>
												</li>
											</ul>
										</li>
										<li><a href="https://madebydesignesia.com/themes/archi/shop.html">Shop</a><span></span>
											<ul>
												<li><a href="https://madebydesignesia.com/themes/archi/shop.html">Shop Dark</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/shop-light.html">Shop Light</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/product-single.html">Product Single</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/product-single-light.html">Product Single Light</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/shop-cart.html">Shopping Cart</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/shop-cart-light.html">Shopping Cart Light</a></li>
											</ul>
										</li>
										<li><a href="/life2home_contact">Contact</a><span></span>
											<!-- <ul>
												<li><a href="https://madebydesignesia.com/themes/archi/contact.html">Contact</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/contact-light.html">Contact Light</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/renovation-form.html">Renovation Form</a></li>
												<li><a href="https://madebydesignesia.com/themes/archi/renovation-form-light.html">Renovation Form Light</a></li>
											</ul> -->
										</li>
									</ul>
								</nav>
								<!-- mainmenu close -->
							</div>
						</div>
					</div>
                </div>
            </div>
        </header>
        <!-- header close -->

        <!-- content begin -->
        {% block content %}

        {% endblock%}
        <!-- footer begin -->
        <footer>
            <div class="container" style="background-size: cover;">
                <div class="row" style="background-size: cover;">
                    <div class="col-lg-6" style="background-size: cover;">
                        <img src="images/logo.png" class="logo-small" alt=""><br>We are passionate about transforming spaces into stunning, functional, and personalized environments. With years of experience in the industry, we specialize in creating exceptional interior designs that reflect our clients unique style and meet their specific needs.
                    </div>

                    <!-- <div class="col-lg-3" style="background-size: cover;">
                        <div class="widget widget_recent_post" style="background-size: cover;">
                            <h3>Latest News</h3>
                            <ul>
                                <li><a href="">The Essentials Interior Design Tips</a></li>
                                <li><a href="#">Functional Wall-to-Wall Shelves</a></li>
                                <li><a href="#">9 Unique Ways to Display Your TV</a></li>
                                <li><a href="#">The 5 Secrets to Minimal Design</a></li>
                                <li><a href="#">Make a Huge Impact With Multiples</a></li>
                            </ul>
                        </div>
                    </div> -->

                    <div class="col-lg-3" style="background-size: cover;">
                        <h3>Contact Us</h3>
                        <div class="widget widget-address" style="background-size: cover;">
                            <address>
                                <span>Office No 6, LIF2HOME PVT LTD , C/o Kams Designer Zone, Arun Park, Near, Aditya Birla Hospital Marg, Thergaon, Pimpri-Chinchwad, Maharashtra 411033</span>
                                <span><strong>Phone:</strong>(+91) 85520 07020</span>
                                <span><strong>WhatsApp:</strong>&nbsp;&nbsp;&nbsp;&nbsp;(+91) 77200 75070</span>
                                <span><strong>Email:</strong><a href="mailto:info@life2home.in">info@life2home.in</a></span>
                                <span><strong>Web:</strong><a href="/">https://life2home.in/</a></span>
                            </address>
                        </div>
                    </div>

                    <div class="col-lg-3" style="background-size: cover;">
                        <div class="widget widget_recent_post" style="background-size: cover;">
                            <h3>Our Services</h3>
                            <ul>
                                <li><a href="#">Turnkey Interior Design Solutions</a></li>
                                <li><a href="#">Project Management</a></li>
                                <li><a href="#">Standard Home Design Services</a></li>
                                <li><a href="#">Consulting</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="subfooter" style="background-size: cover;">
                <div class="container" style="background-size: cover;">
                    <div class="row" style="background-size: cover;">
                        <div class="col-md-6" style="background-size: cover;">
                            © Copyright 2023 - Life2Home - Your Trusted Turnkey Interior Designing Solutions Partner
                        </div>
                        <div class="col-md-6 text-right" style="background-size: cover;">
                            <div class="social-icons" style="background-size: cover;">
                                <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                                <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                                <a href="#"><i class="fa fa-rss fa-lg"></i></a>
                                <a href="#"><i class="fa fa-google-plus fa-lg"></i></a>
                                <a href="#"><i class="fa fa-skype fa-lg"></i></a>
                                <a href="#"><i class="fa fa-dribbble fa-lg"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" id="back-to-top" class="show"></a>
        </footer>
            <!-- footer close -->
    </div>
    <div id="purchase-now" style="background-size: cover;">
    	<a href="https://api.whatsapp.com/send?phone=7720075070&text=Hi Life2Home Team" target="_blank"><span class="fa fa-whatsapp fa-lg"></span></a>
    	<div class="pn-hover" style="background-size: cover;">Contact Us</div>
    </div>

    <!-- Javascript Files
    ================================================== -->
    <script src="/assets/life2homewebsitever2/js/archi/plugins.js"></script>
    <script src="/assets/life2homewebsitever2/js/archi/designesia.js"></script>
    <script src="/assets/life2homewebsitever2/js/archi/jquery.plugin.js"></script>
    <script src="/assets/life2homewebsitever2/js/archi/jquery.countdown.js"></script>
    <script src="/assets/life2homewebsitever2/js/archi/countdown-custom.js"></script>
    <script src="/assets/life2homewebsitever2/js/archi/jquery.event.move.js"></script>
    <script src="/assets/life2homewebsitever2/js/archi/jquery.twentytwenty.js"></script>	

    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script src="/assets/life2homewebsitever2/js/archi/jquery.themepunch.plugins.min.js"></script>
    <script src="/assets/life2homewebsitever2/js/archi/jquery.themepunch.revolution.min.js"></script>
	
	<script>
    $(window).on("load", function(){
      $(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({default_offset_pct: 0.5});
      $(".twentytwenty-container[data-orientation='vertical']").twentytwenty({default_offset_pct: 0.5, orientation: 'vertical'});
    });
    </script>



<div id="de_notif" style="background-size: cover;"></div></body><style>
@media print {
  #simplifyJobsContainer {
    display: none;
  }
}
</style><div id="simplifyJobsContainer" style="position: absolute; top: 0px; left: 0px; width: 0px; height: 0px; overflow: visible; z-index: 2147483647;"><span><template shadowrootmode="open"><link rel="stylesheet" href="chrome-extension://pbanhockgagggenencehbnadejlgchfc/css/styles.css"><style>
  :host {
    all: initial;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: Palanquin, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(203, 213, 225, 1) transparent;
  }
  *::-webkit-scrollbar {
    width: 6px;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgba(203, 213, 225, 1);
    border-radius: 3px;
    border: 0;
  }
</style><div id="simplifyJobsPortals"></div></template></span></div><script id="simplifyJobsPageScript" src="chrome-extension://pbanhockgagggenencehbnadejlgchfc/js/pageScript.bundle.js"></script><grammarly-desktop-integration data-grammarly-shadow-root="true"><template shadowrootmode="open"><style>
      div.grammarly-desktop-integration {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select:none;
        user-select:none;
      }

      div.grammarly-desktop-integration:before {
        content: attr(data-content);
      }
    </style><div aria-label="grammarly-integration" role="group" tabindex="-1" class="grammarly-desktop-integration" data-content="{&quot;mode&quot;:&quot;full&quot;,&quot;isActive&quot;:true,&quot;isUserDisabled&quot;:false}"></div></template></grammarly-desktop-integration></html>